.background {
    background-image: url("https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1px;
    align-items: baseline;
    justify-content: center;
    margin: 0;
    padding: 0;
  
  }


.centerDiv {
    text-align: center;
    font-size: x-large;
    -webkit-text-stroke: #979790;
    -webkit-text-stroke-width: 0.5px ;
   
}

.cardCountry {
  display: flex; /* Utiliza flexbox para que las tarjetas se muestren en una fila */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no caben en una sola fila */
  gap: 10px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra horizontalmente las tarjetas */
  align-items:normal; /* Alinea las tarjetas en la parte superior del contenedor */
}