/* styles.module.css */

.background {
    background-image: url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  }


.centerDiv {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 20px 20px 4px hsla(0, 44%, 5%, 0.497);
    color: #120707;
    border-width: 5px;
    font-size: x-large;
    -webkit-text-stroke: #deefdc;
    -webkit-text-stroke-width: 0.5px ;
}







